html {
  overflow-y: scroll;
}
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 1220px;
}
ul, li {
  list-style: none;
}
body, button, dd, dl, form, h1, h2, h3, h4, h5, h6, input, ol, p, select, ul {
  margin: 0;
}

.global_container {
  height: 100%;
}
.global_wrap {
  position: relative;
  min-height: 100%;
  clear: both;
}

.rapper_width {
  width: 1220px;
}

@media screen and (min-width: 1460px) {
  .rapper_width {
    width: 1460px;
  }
}